<table>
  <tr>
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Date</th>
    <th>LBS</th>
    <th>ID</th>
  </tr>
  {{#each workouts}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.reps}}</td>
    <td>{{this.weight}}</td>
    <td>{{this.date}}</td>
    <td>
      {{#if this.lbs}}
        true
      {{else}}
        false
      {{/if}}
    </td>
    <td><a href="/workouts/{{this.id}}/edit">Edit</a></td>
    <td><form action="/workouts/{{this.id}}?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    </td>
  </tr>
  {{/each}}
</table>

<form id="create-workout" action="javascript:">
  <p><label>Name <input type="text" name="name"></label></p>
  <p><label>Reps <input type="text" name="reps"></label></p>
  <p><label>Weight <input type="text" name="weight"></label></p>
  <p><label>Date <input type="date" name="date"></label></p>
  <p><label>LBS <input type="checkbox" name="lbs"></label></p>
  <button type="submit">Submit</button>
</form>

<form id="delete-all" action="/reset-table" method="GET">
  <button type="submit">Delete All Workouts</button>
</form>

<script>
//var newWorkoutForm = document.getElementById("new-workout-form");
var newWorkoutForm = document.getElementById("create-workout");

newWorkoutForm.addEventListener("submit", function(event) {
  event.preventDefault();
  var newWorkoutPost = new XMLHttpRequest();
  newWorkoutPost.open("POST", "/workouts", true);
  newWorkoutPost.setRequestHeader("Content-Type", "application/json");

  // need to get this data from the form.
  var newWorkoutData = {
    name: newWorkoutForm.elements['name'].value,
    reps: newWorkoutForm.elements['reps'].value,
    weight: newWorkoutForm.elements['weight'].value,
    date: newWorkoutForm.elements['date'].value,
    lbs: newWorkoutForm.elements['lbs'].checked
  };

  newWorkoutPost.addEventListener("load", function() {
    var id = newWorkoutPost.responseText;
    console.log(newWorkoutPost.responseText);
    console.log("Workout created.");
    var tableBody = document.getElementsByTagName("tbody")[0];
    var newTr = document.createElement("tr");
    tableBody.appendChild(newTr);    
    Object.keys(newWorkoutData).forEach(function(key, index) {
      var newTd = document.createElement("td");
      newTd.textContent = newWorkoutData[key];
      newTr.appendChild(newTd);
    });
    // add edit button
    var editTd = document.createElement("td");
    var editLink = document.createElement("a");
    editLink.setAttribute("href", "/workouts/" + id + "/edit");
    editLink.textContent = "Edit";
    editTd.appendChild(editLink);
    newTr.appendChild(editTd);
    // add delete button
    var deleteForm = document.createElement("form");
    deleteForm.setAttribute("method", "POST");
    deleteForm.setAttribute("action", "/workouts/" + id + "?_method=DELETE");
    var submitButton = document.createElement("button");
    submitButton.setAttribute("type", "submit");
    submitButton.textContent = "Delete";
    var deleteTd = document.createElement("td");
    deleteForm.appendChild(submitButton);
    deleteTd.appendChild(deleteForm);
    newTr.appendChild(deleteTd);
  });
  newWorkoutPost.send(JSON.stringify(newWorkoutData));
});
</script>